body {
	padding:		0px;
	margin:			0px;
	vertical-align:		top;
}

.main {
	width:			100%;
	height:			100%;
	text-align:		left;
	vertical-align:		top;
}

.smoothing-notify {
	opacity:		1.0;
	z-index:		50;
	position:		fixed;
	top:			10px;
	left:			10%;
	width:			80%;
	height:			40px;
	background-color:	#FF0000;
}

.smoothing-notify-error {
	opacity:		1.0;
	z-index:		50;
	position:		fixed;
	top:			10px;
	left:			10%;
	width:			80%;
	height:			40px;
	background-color:	#FF0000;
}

.smoothing-notify-info {
	opacity:		1.0;
	z-index:		50;
	position:		fixed;
	top:			10px;
	left:			10%;
	width:			80%;
	height:			40px;
	background-color:	#00FF00;
}

.hidden {
	display:		none;
	width:			0px;
	height:			0px;
}

.notifications-box {
	width:			90%;
	margin:			5px;
	padding:		5px;
}

.main-header {
	width:			100%;
	height:			40px;
	padding:		3px;
	font-size:		10px;
	background-color:	#01A4DF;
	text-align:		right;
	vertical-align:		middle;
}

.main-menu {
	width:			100%;
	padding:		10px;
	font-size:		15px;
	background-color:	#01A4DF;
	text-align:		left;
	vertical-align:		top;
}

.main-menu-item {
	cursor:			pointer;
	cursor:			hand;
}

.main-menu-item-selected {
	background-color:	#017099;
}

.main-stack {
	width:			98%;
	margin:			10px;
	font-size:		30px;
}

.genericpanel {
}

.genericpanel-header {
	font-size:		20px;
	text-align:		right;
	vertical-align:		middle;
	padding-right:		50px;
}

.form-cluster {
	width:			100%;
}

.element-summary {
	background:		url('images/details-closed.png') no-repeat scroll 0pt 50%;
        padding-left:		30px;
	font-size:		18px;
	font-family:		arial, sans-serif;
	text-align:		left;
	vertical-align:		middle;
}

.element-summary div {
	padding:		3px;
}

.element-summary div:hover {
	background-color:	#EAFFFC;
	padding:		3px;
}

.element-summary-opened {
	background-color:	#EAFFFC;
	border-top:		4px solid #3AB5A6;
	border-left:		4px solid #3AB5A6;
	border-right:		4px solid #3AB5A6;
}

.icons-bar img {
	border:			0px;
}

.element-details {
	position:		relative;
	width:			100%;
	padding-left:		20px;
	padding:		10px;
	border:			4px solid #3AB5A6;
	-moz-border-radius:	7px;
	background-color:	#EAFFFC;
}

.element-details .gwt-Label {
	font-size:		12px;
}

.element-details .gwt-TextBox {
	font-size:		12px;
}

.element-details .gwt-TextArea {
	font-size:		12px;
}

.elements-table {
	margin:			5px;
}

.elements-table tr {
	margin:			0px;
	padding:		5px;
	text-align:		center;
}

.elements-table td {
	margin:			0px;
}

.elements-table .table-header {
	text-align:		center;
	vertical-align:		bottom;
}

.table-header .gwt-Label {
	font-weight:		bold;
	border-bottom:		3px solid #4EDFCE;
	padding:		5px;
}

.buttons-bar .icons {
	margin-left:		10px;
	margin-right:		5px;
	text-align:		center;
	cursor:			pointer;
	cursor:			hand;
}

.buttons-bar .help {
	height:			20px;
	margin-top:		0px;
	margin-bottom:		0px;
	margin-left:		10px;
	margin-right:		5px;
	text-align:		center;
	font-size:		10px;
}

.add-button {
	cursor:			pointer;
	cursor:			hand;
	padding:		0px;
	margin:			0px;
	width:			186px;
	height:			32px;
	background:		#FFFFFF url('images/new_button.png') no-repeat scroll 0pt 0pt;
	text-align:		right;
	font-size:		13px;
	font-weight:		bold;
}

.add-button .html-face {
	height:			100%;
	vertical-align:		middle;
	padding:		7px;
}

.bottom-buttons {
	padding:		10px;
	text-align:		right;
}

.dialog-buttons {
	width:			100%;
	padding:		10px;
	text-align:		center;
}

.main-footer {
	width:			100%;
}

.main-footer td {
	font-size:		10px;
	text-align:		center;
	vertical-align:		middle;
}

.clickable {
	cursor:			pointer;
	cursor:			hand;
}

.boolean-selector {
	margin:			1px;
	cursor:			pointer;
	cursor:			hand;
	font-size:		18px;
}

.date-selector {
	margin:			1px;
	background:		#FFFFFF url('images/date_selector.png') no-repeat scroll 0pt 50%;
        padding-left:		18px;
}

.address-selector {
	margin:			1px;
	background:		#FFFFFF url('images/address_selector.png') no-repeat scroll 0pt 50%;
        padding-left:		18px;
}

.password-selector {
	margin:			1px;
	background:		#FFFFFF url('images/password_selector.png') no-repeat scroll 0pt 50%;
        padding-left:		18px;
}

.cycle-selector {
	margin:			1px;
	background:		#FFFFFF url('images/cycle_selector.png') no-repeat scroll 0pt 50%;
        padding-left:		18px;
}

.calculator-addicted {
	margin:			1px;
	background:		#FFFFFF url('images/calc_selector.png') no-repeat scroll 0pt 50%;
        padding-left:		18px;
}

.cyclic-toggle {
	margin:			1px;
	cursor:			pointer;
	cursor:			hand;
}

.multi-selector {
	margin:			1px;
	padding:		1px;
	border:			1px solid #000000;
}

.search-bar {
	background:		#FFFFFF url('images/search_bar.png') no-repeat scroll 0pt 50%;
        padding-left:		18px;
}

.search-bar-wrap {
}

.panel-up {
	width:			80%;
	margin-bottom:		10px;
}

.user-selector {
	cursor:			pointer;
	cursor:			hand;
	margin-left:		4px;
	margin-right:		4px;
}

.dummy-text-area {
	width:			100%;
}

.products-selection .product-name {
	cursor:			pointer;
	cursor:			hand;
}

.bigger-text {
	font-size:		30px;
}

.smaller-text {
	font-size:		9px;
}

.highlight-text {
	font-size:		15px;
	color:			#FF0000;
}

.static-value {
	font-size:		15px;
	font-weight:		bold;
}

.file-link {
	cursor:			pointer;
	cursor:			hand;
	background:		#FFFFFF url('images/download.png') no-repeat scroll 0pt 50%;
        padding-left:		22px;
	margin:			5px;
}

.suggestion-box .gwt-HTML {
	background-color:	#01C0FF;
	padding:		5px;
	border:			5px solid #000000;
}

.highlight-part {
	margin:			2px;
	padding:		2px;
	border:			2px solid #000000;
}

.highlight-part td {
	width:			50%;
}

.contents-on-right {
	margin-left:		20px;
}

.info-cell {
	width:			80%;
	margin-left:		auto;
	margin-right:		auto;
	margin-top:		5px;
	margin-bottom:		5px;
	border:			2px solid #AAFFAA;
	padding:		5px;
}

.filter-button {
	margin-left:		10px;
	margin-right:		10px;
	padding:		5px;
	border:			2px solid #000000;
	cursor:			pointer;
	cursor:			hand;
}

.table-legend {
	position:		fixed;
	bottom:			5px;
	right:			5px;
	font-size:		12px;
	border-left:		2px solid #000000;
	border-top:		2px solid #000000;
	z-index:		50;
	background-color:	#FFFFFF;
}

.orders-advanced-options {
	margin:			3px;
	margin-bottom:		7px;
	padding:		5px;
	border:			1px solid #000000;
}

.message {
	padding:		10px;
	text-align:		center;
}

.variants-editor {
	margin:			10px;
}

.variants-editor .variant-values {
	width:			100%;
	margin-top:		10px;
}

fieldset {
	-moz-border-radius:	7px;
	border:			1px #BBBBBB solid;
	padding:		10px;
	margin:			10px;
}

fieldset legend {
	border:			1px #1a6f93 solid;
	color:			black;
	font-weight:		none;
	font-size:		13px;
	padding-right:		5px;
	padding-left:		5px;
	padding-top:		2px;
	padding-bottom:		2px;
	-moz-border-radius:	3px;
}

input, textarea, select {
	margin:			1px;
	padding:		2px;
	float:			left;
}

br {
	clear:			left;
}

.gwt-DisclosurePanel {
	width:			100%;
}

.gwt-DisclosurePanel-closed .header,
.gwt-DisclosurePanel-closed .header a,
.gwt-DisclosurePanel-closed .header td {
	text-decoration:	none;
	color:			black;
	cursor:			pointer;
	cursor:			hand;
}

.gwt-DisclosurePanel-open .header,
.gwt-DisclosurePanel-open .header a,
.gwt-DisclosurePanel-open .header td {
	text-decoration:	none;
	color:			black;
	cursor:			pointer;
	cursor:			hand;
	position:		relative;
	top:			4px;
	z-index:		50;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-down {
	cursor:			pointer;
	cursor:			hand;
}

.gwt-DialogBox {
	background-color:	#FFFFFF;
	border:			10px solid #000000;
	padding:		20px;
	z-index:		100;
}

.gwt-DialogBox .Caption {
	background-color:	green;
	font-weight:		bold;
	cursor:			default;
	padding:		5px 10px;
	text-align:		center;
}

.gwt-DialogBox .gwt-Button {
	margin:			10px;
}

.gwt-DialogBox .text {
	width:			30em;
	font-size:		80%;
	padding:		10px;
	text-align:		left;
}

.gwt-TabBar {
	position:		relative;
	top:			2px;
}

.gwt-TabBar .gwt-TabBarFirst {
	width:			5px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-left:		2px solid #0080BB;
	border-right:		2px solid #0080BB;
	border-top:		2px solid #0080BB;
	border-bottom:		2px solid #0080BB;
	cursor:			pointer;
	cursor:			hand;
	margin-left:		3px;
	margin-right:		3px;
	margin-bottom:		0px;
	padding:		6px;
	z-index:		51;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	border-bottom:		2px solid #EAFFFC;
	margin-bottom:		0px;
	z-index:		51;
}

.gwt-TabPanel {
	width:			90%;
}

.gwt-TabPanelBottom {
	width:			90%;
	border:			2px solid #0080BB;
	padding:		6px;
	-moz-border-radius:	7px;
	z-index:		51;
}

.gwt-CheckBox {
	width:			100%;
}

.CalendarWidget {
	border:			1px solid #ACA899;
	background-color:	#FFFFFF;
	text-align:		center;
}

.CalendarWidget .navbar {
	width:			100%;
	background-color:	#C3D9FF;
	vertical-align:		middle;
	border-bottom:		1px solid #ACA899;
}

.CalendarWidget .navbar .gwt-Button {
	padding-left:		5px;
	padding-right:		5px;
}

.CalendarWidget .table {
	font:			10pt sans-serif;
	text-align:		center;
}

.CalendarWidget .weekheader {
	background-color:	#ACA899;
}

.CalendarWidget .weekheader .days {
	width:			3em;
}

.CalendarWidget .cell {
	cursor:			pointer;
}

.CalendarWidget .cell .gwt-HTML {
	border:			1px solid #ACA899;
}

.CalendarWidget .cell .gwt-HTML span {
	width:			100%;
	height:			100%;
	line-height:		2em;
}

.CalendarWidget .today .gwt-HTML {
	background-color:	#C3D9FF;
}

.CalendarWidget .day .gwt-HTML {
	border:			1px solid #C3D9FF;
}
